html, body {
    height: 100%;
    width: 100%;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

img {
    width: 200px;
}

p.grey-text {
    font-size: 18px !important;
    letter-spacing: 0.037em;
}

.history-button {
    font-size: 16px;
    letter-spacing: 0.037em;
    font-weight: bold;
}